<!DOCTYPE html>
<html lang="en">

<%- include('../includes/head.ejs') %>

<body>
  <%- include('../includes/navbar.ejs') %>
  <article class="container">
    <h1>Nova Prova</h1>
    <%- include('formProva.ejs') %>
  </article>
  <%- include('../includes/scripts.ejs') %>
</body>

</html>